<html>
  <head>
    <title>Title var</title>

    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <style>
      body {
             padding-top: 60px;
            }
     </style>
    </head>
    <body>
      <div class="container">
        <h6>Enter URL to shorten</h6>
        <form>
          <input class="span3" type=text name="url"><br>
          <button class="btn-inverse btn-large" type=submit>Shorten</button>
        </form>
      </div>
    </body>
</html>
