<html>
  <head>
    <title><%= @domain %></title>

    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <style>
      body {
             padding-top: 60px;
            }
     </style>
    </head>
    <body>
      <div class="container">
        <h6>Short URL is :</h6> <%= @shorty %>
      </div>
    </body>
</html>
